// ========================================================================
//
// Name:            <component name>
// Description:     <description>
//
// ========================================================================

// Variables
// ========================================================================


// Placeholders
// ========================================================================

%btn {
    padding: 10px;
    display: block;
}


// Mixins
// ========================================================================

@mixin btn-background($btn-background) {
    @extend %btn;
    background-color: $btn-background;
    &:hover {
        background-color: lighten($btn-background,10%);
    }
}

// Component: Base
// ========================================================================

.btn-red {
    @include btn-background(red);
}
